body {
    background-color: #dcedc1;
    color: #484a48;
    margin: 0;
    padding: 20px;
    font-family: 'Merriweather', serif;

}

header {
    text-align: center;
    padding-top: 100px;
    position: relative;
}

img {  
    max-width: 100%; 
    height: auto;  
} 

img.mountain {
    width: 60%; 
    height: auto;  
}
img.t_cloud {
    position: absolute;
    right: 400px;
    top: 50px;
}

img.b_cloud {
    position: absolute;
    left: 400px;
    bottom: 500px;
}



td {
    padding-left: 2%;
    padding-right: 2%;
}
/* 
footer {
    padding-bottom: 50px;
} */

a.footer {
    margin-right: 2%;
}

hr {
    border-style: dotted none none;
    width: 2%;
    height: 2px;
    color: #afb9c8;
    border-width: 5px;
    margin: 50px auto 50px auto;

}

input {
    margin: 3px;
}

td.left {
    width: 15%;
}

table.experience {
    margin-top: 50px;
    margin-right: 10rem;
    width: 50%;
    margin-bottom: 2rem;
}

th {
    text-align: center;
}

td {
    padding-right: 5px;
}

h1 {
    color: #a2b29f;
        /* color: #66BFBF; */
    margin: 0;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #9fa99d;
    /* color: #66BFBF; */
}

h3 {
    color: #a2b29f;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.circular {
    border-radius: 100%;
    width: 20%;
    margin: 50px auto 50px auto;
    position: relative;
    left: 40%
}

.center {
    width: 20%;
    margin: 50px auto 50px auto;
    position: relative;
    left: 40%
}

.border {
    border-style: solid;
}

.intro {
    margin-top: 100px;
}

li {
    padding: 20px 0;
}

.copyright {
    position: absolute;
    right: 10px;
}

.subtitle {
    font-weight: normal;
}




