body {
    background-color: #dcedc1;
}

img {  
    max-width: 100%;  
    height: auto;  
} 

td {
    padding-left: 2%;
    padding-right: 2%;

}

a.footer {
    padding: 1%;
}

hr {
    border-style: dotted none none;
    width: 2%;
    height: 2px;
    color: #afb9c8;
    border-width: 5px;

}

input {
    margin: 3px;
}

td.left {
    width: 15rem;
}

table.experience {
    margin-right: 10rem;
    width: 50%;
    margin-bottom: 2rem;
}

th {
    text-align: center;
}



